# Compiled files
*.o
moc_*
ui_*

# Qt Creator
*.pro.user
*.pro.user.*
.qmake.stash

# Build directories
build-*/
debug/
release/

# Executables
HintonMarket
HintonMarket2

# Local database / OS junk
*.sqlite3
!hintonMarket.sqlite3
.DS_Store
